*focus{
    outline:none;
}
body{
    margin: 0;
    padding: 0;
    background: #DDD;
    font-family: sans-serif;
    font-size: 16px;
    color: #222;
    font-weight: 300;
}
#login-box{
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 50px 20px;
    box-shadow: 10px 2px 4px rgba(65, 65,65, 0.4);
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
h1{
    margin: -20px 0 20px 0;
    font-weight: 300;
    font-size: 20px;
}
input[type="text"],
input[type="password"]
{
 display: block;
 box-sizing: border-box;
 margin-bottom: 20px;
 padding: 4px;
 width: 220px;
 height: 32px;
 border: none;
 border-bottom: 1px solid #aaa;
 font-family: sans-serif;
 font-weight: 200;
 font-size: 15px;
 transition: 1.2s ease;   
}
input[type="text"]:focus
input[type="password"]:focus{
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 1s ease;
}
input[type="submit"]{
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: green;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: sans-serif;
    font-weight: 500;
    transform: uppercase;
    transition: 1s ease;
    cursor: pointer;
}
input[type="submit"]:focus,
input[type="submit"]:hover{
    opacity: 0.8;
    box-shadow: 10 2px 4px rgba(65, 65,65, 0.4);
    transition: 1s ease;
}
.right{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: linear-gradient(120grad, darkred, darkblue);
    background-size: cover;
    background-position: center;
    border-radius: 50px 20px 50px 0px;
}
.right .loginwith{
   display: block;
   margin-bottom: 40px;
   font-size: 28px;
   color: white;
   width: 100%;
   font-weight: bold;
   text-align: center;
    
}
button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: 600;
    transition: 1s ease;
    cursor: pointer;
}
button.social-signin.google{
    background: #3b5998;
}
button.social-signin.facebook{
    background: #1877F2;
}
button.social-signin.github{
    background: #00acee;
}
button.social-signin.LinkedIn{
    background: #0077B5;
}
.or{
    position: absolute;
    top: 180px;
    left: 275px;
    width: 40px;
    height: 40px;
    background: linear-gradient(120grad, red, white);
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(65, 65,65, 0.4);
    line-height: 40px;
    text-align: center;
}
